<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887078461752-hcpipkj9h92nb41d3tfcpfn3mt6ue1sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887078461752-hcpipkj9h92nb41d3tfcpfn3mt6ue1sk</string>
	<key>API_KEY</key>
	<string>AIzaSyCHqYp71dgLghTjhDIHpCRm6SSKZOJadkk</string>
	<key>GCM_SENDER_ID</key>
	<string>887078461752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nightingaleFlutterChatapp</string>
	<key>PROJECT_ID</key>
	<string>nightingale-chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>nightingale-chatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887078461752:ios:8fada6037343a27bd761cd</string>
</dict>
</plist>